@import "../../constants.css";

.socraft-button {
  border: none;
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: 500;
  transition: opacity 100ms linear;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.socraft-button:hover {
  opacity: 0.8;
}

.socraft-button.yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.socraft-button.black {
  background-color: var(--black);
  color: var(--white);
}

.socraft-button.outlined {
  background-color: transparent;
  border: var(--border);
}

.socraft-button.outlined.dark {
  color: var(--white);
  border-color: #ffffff20;
}
