@import "../../constants.css";

.socraft-tribe-card {
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--borderRadius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  max-width: 100%;
}

.socraft-tribe-card.dark {
  background-color: var(--black);
  color: var(--white);
}

.socraft-tribe-card .header {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.socraft-tribe-card .header .tribe-image {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.socraft-tribe-card .header .text {
  margin: 20px 30px;
}

.socraft-tribe-card .header .text .title-container {
  display: flex;
  gap: 10px;
  row-gap: 0;
  align-items: center;
  flex-wrap: wrap;
}

.socraft-tribe-card .header .text .title-container .title {
  font-size: 1.5em;
  font-weight: 500;
  margin-block: 10px;
}

.socraft-tribe-card .content {
  padding: 0 2rem 1rem 2rem;
}

.socraft-tribe-card .actions {
  display: flex;
  gap: 10px;
  margin: 0 30px 20px 30px;
  flex-wrap: wrap;
}

.socraft-tribe-card .actions button {
  flex: 1;
}
