@import "../../constants.css";

.socraft-tribe-card {
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--borderRadius);
  overflow: hidden;
}

.socraft-tribe-card.dark {
  background-color: var(--black);
  color: var(--white);
}

.socraft-tribe-card .tribe-image {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.socraft-tribe-card .content {
  padding: 1rem 2rem;
}

.socraft-tribe-card .content .header {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.socraft-tribe-card .content .header .title {
  font-size: 1.5em;
  font-weight: 500;
}

.socraft-tribe-card .content .header .members {
  text-transform: lowercase;
  font-size: 1em;
  background-color: #28282810;
  border: var(--border);
  padding: 2px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.socraft-tribe-card.dark .content .header .members {
  background-color: #ffffff10;
  border-color: #ffffff20;
}

.socraft-tribe-card .content .description {
  font-size: 1.2em;
  opacity: 0.6;
  font-weight: 400;
  text-align: justify;
  margin-block: 0 30px;
}

.socraft-tribe-card .content .actions {
  display: flex;
  gap: 10px;
  margin-block: 0 10px;
  flex-wrap: wrap;
}

.socraft-tribe-card .content .actions button {
  flex: 1;
}
