.core-team-member {
  text-align: center;

  &.dark {
    color: #ffffff;
  }

  .core-team-member__image {
    border-radius: 10px 20px;
    height: 150px;
    width: 150px;
  }

  .core-team-member__name {
    font-weight: 500;
    margin-block: 10px;
  }
}
