.theme-toggle-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 100ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.theme-toggle-button:hover {
  background-color: #00000020;
}

.theme-toggle-button.dark {
  color: #ffffff;
}

.theme-toggle-button.dark:hover {
  background-color: #ffffff20;
}
