@import "../../constants.css";

.socraft-card {
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--borderRadius);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: stretch;
  justify-content: space-between;

  &:has(.socraft-card-image) {
    .socraft-card-image {
      height: 100px;
      width: 100px;
      border-radius: var(--borderRadius);
    }

    .p-card-title {
      margin-block: 20px 0;
    }
  }
}

.socraft-card .socraft-card-buttons {
  display: flex;
  gap: 10px;
  margin: 2em 0 0 0;
  flex-wrap: wrap;

  .socraft-button {
    flex: 1;
  }
}

.p-card-title {
  font-size: 2em !important;
  font-weight: 500 !important;
}

.p-card-subtitle {
  font-size: 1.25em !important;
}

.p-card-content {
  p {
    font-size: 1.1em !important;
    opacity: 0.6;
    font-weight: 500;
    text-align: justify;
    margin-block-end: 0;
  }
}

.socraft-card.dark {
  background-color: var(--black);
  color: var(--white);
}
