@import "../../constants.css";

.p-dropdown {
  font-size: 50%;
}

.p-dropdown .p-inputtext {
  font-size: 0.8rem;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #fbbb10;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem #fbbb1030;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background-color: #fbbb1020;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #fbbb10;
  background: #fbbb1030;
}
