@import "../../constants.css";

.locale-selector {
  padding: 10px 14px;
  padding-right: 40px;
  border: 1px solid #28282820;
  border-radius: 8px;
  background-color: #fff;
  color: #111827;
  font-size: 14px;
  line-height: 1.4;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
  cursor: pointer;
}

.locale-selector.dark {
  border: 1px solid #ffffff20;
  background-color: #282828;
  color: #ffffff;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.locale-selector.dark option {
  background: #282828;
  color: #fff;
}

.locale-selector:hover {
  border-color: #9ca3af;
}

.locale-selector:focus {
  border-color: #fbbf24;
  box-shadow: 0 0 0 3px #fbbf2440;
  outline: none;
}

.locale-selector option {
  color: #111827;
}
