@import "../../constants.css";

.reference {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .reference-head {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbbb1010;
    border-radius: var(--borderRadius);
    overflow: hidden;

    .logo {
      width: auto;
      height: auto;
      max-width: 150px;
      transition: all 0.15s ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .reference-body {
    text-align: center;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .category {
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 1px;
      opacity: 0.5;
    }
  }
}

.reference.dark .reference-body {
  color: var(--white);
}

.reference.dark .reference-head {
  background-color: var(--black);
}
