.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbbb10;
  color: #333;
  padding: 10px 20px;
  min-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.banner-title {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner-description {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner-link {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #282828;
}

.banner-close-button {
  background-color: transparent;
  border: none;
  right: 0;
  font-size: 1.2em;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
}
